streamlit
psycopg2-binary
pandas
numpy
scipy
scikit-learn
matplotlib
opencv-python
Pillow
altair
pydeck
pyarrow
tqdm
joblib
scikit-image
requests
cachetools
tenacity
urllib3
certifi
idna
charset-normalizer
